<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Uniconf-test</title>
  <link href="css/style.css" rel="stylesheet">
  <link href="css/normalize.css" rel="stylesheet">

</head>

<body>
  <header>
    <nav class="upper-menu">
      <div class="shift__down"></div>
      <div class="up-info__upper">
        <div class="upper__inside"> <a href="#" class="inside__upper-link">Режим работы</a> <a href="#" class="inside__upper-link">Правила посещения</a> </div>
      </div>
      <div class="upper-menu__list-menu"> <a href="#" class="list-menu__logo">3D-Masters</a>
        <ul class="logo-wrap-menu">
          <li class="slide-menu"><a class="menu__item-logo" href="#">Меню</a>
            <ul class="item-logo__inner-menu">
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
            </ul>
          </li>
          <li class="slide-menu"><a class="menu__item-logo" href="#">Меню</a>
            <ul class="item-logo__inner-menu">
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
            </ul>
          </li>
          <li class="slide-menu"><a class="menu__item-logo" href="#">Меню</a>
            <ul class="item-logo__inner-menu">
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
            </ul>
          </li>
          <li class="slide-menu"><a class="menu__item-logo" href="#">Меню</a>
            <ul class="item-logo__inner-menu">
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
            </ul>
          </li>
          <li class="slide-menu"><a class="menu__item-logo" href="#">Меню</a>
            <ul class="item-logo__inner-menu">
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
            </ul>
          </li>
          <li class="slide-menu"><a class="menu__item-logo" href="#">Меню</a>
            <ul class="item-logo__inner-menu">
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
              <li><a class="menu__item-logo slide-item-menu" href="#">Меню</a></li>
            </ul>
          </li>
        </ul>
        <div class="logo-wrap-menu-second"> <a class="menu__item-logo" href="#"><b>Вход</b></a> <a class="menu__item-logo upper-margin" href="#"><b>Регистрация</b></a> </div>
        <div class="list-menu__hamburger-menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle"> <span></span> </label>
          <ul class="menu__box">
            <li><a class="menu__item" href="#">Меню</a></li>
            <li><a class="menu__item" href="#">Меню</a></li>
            <li><a class="menu__item" href="#">Меню</a></li>
            <li><a class="menu__item" href="#">Меню</a></li>
            <li><a class="menu__item" href="#">Меню</a></li>
            <li><a class="menu__item" href="#">Меню</a></li>
            <li> <a class="menu__item box__enter" href="#"><b>Вход</b></a> <a class="menu__item" href="#"><b>Регистрация</b></a> </li>
            <li> <a class="menu__item rules__enter" href="#">Режим работы</a> <a class="menu__item rules__visit" href="#">Правила посещения</a> </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="main-info">
      <div class="main-info__items">
        <div class="center">
          <div class="slider">
            <ul>
              <li class="first__slide">
                <a href="#" class="slider__link-item">
                  <div class="slider-button">Анимация</div>
                  <h2 class="slider-button__title">Студия 3D моделирования <br>3D-Masters</h2>
                  <p class="slider-button__text">,
                    <br>занимается разработкой 3d-моделей, анимации, игр и других программных продуктов разной сложности с 2012 года. Мы решаем бизнес-задачи наших клиентов, разрабатывая программные продукты высокого качества при умеренной стоимости.
                  </p>
                </a>
              </li>
              <li class="second__slide">
                <a href="#" class="slider__link-item">
                  <div class="slider-button">Анимация</div>
                  <h2 class="slider-button__title">Студия 3D моделирования <br>3D-Masters</h2>
                  <p class="slider-button__text">,
                    <br>занимается разработкой 3d-моделей, анимации, игр и других программных продуктов разной сложности с 2012 года. Мы решаем бизнес-задачи наших клиентов, разрабатывая программные продукты высокого качества при умеренной стоимости.
                  </p>
                </a>
              </li>
              <li class="third__slide">
                <a href="#" class="slider__link-item">
                  <div class="slider-button">Анимация</div> <h2 class="slider-button__title">Студия 3D моделирования <br>3D-Masters</h2>
                  <p class="slider-button__text">,
                    <br>занимается разработкой 3d-моделей, анимации, игр и других программных продуктов разной сложности с 2012 года. Мы решаем бизнес-задачи наших клиентов, разрабатывая программные продукты высокого качества при умеренной стоимости.
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="items__about-company">
          <div class="about-inner-wrap"> <a href="#" class="about-company__title">О компании</a>
            <p class="about-company__text">Что-то более продвинутое делается с помощью покадровой анимации — когда для разных состояний объекта (стоит, идет, в прыжке, атакует) создается несколько спрайтов (двумерное изображение), которые сменяют друг друга с определенным интервалом. </p>
          </div> <a href="#" class="about-company__deeper">Подробнее<img src="images/left-arrow.svg" class="deeper__image" alt="row-icon" width="18" height="12"></a>
        </div>
        <div class="items__news">
          <div class="news__inner-wrap-block">
            <a href="#" class="news-company__title">Новости</a>
            <a href="#" class="all-news">Все новости</a>
          </div>
          <div class="news__images">
            <img src="images/image-32x.png" width="290" height="200" class="news__img img--half" alt="menu-icon">
            <img src="images/image-12x.png" width="290" height="200" class="news__img img--half" alt="menu-icon">
            <img src="images/image-42x.png" width="290" height="200" class="news__img img--full" alt="menu-icon">
            <img src="images/image-32x.png" width="290" height="200" class="news__img hidden img--half" alt="menu-icon">
            <img src="images/image-12x.png" width="290" height="200" class="news__img hidden img--half" alt="menu-icon">
            <img src="images/image-42x.png" width="290" height="200" class="news__img hidden img--full" alt="menu-icon">
            <img src="images/image-32x.png" width="290" height="200" class="news__img hidden img--half" alt="menu-icon">
            <img src="images/image-12x.png" width="290" height="200" class="news__img hidden img--half" alt="menu-icon">
            <img src="images/image-42x.png" width="290" height="200" class="news__img hidden img--full" alt="menu-icon">
          </div>
          <button class="news__deeper">Показать еще</button>
        </div>
        <div class="items__form">
          <form action="#" method="post" name="popup-form" class="form__inner" id="mainform">
            <h2 class="enter-title">Подпишитесь на рассылку</h2>
            <ul class="popup-options">
              <li class="popup-item half-section">
                <label class="popup-field">
                  <span class="title-field">Имя</span>
                  <input type="text" name="name" placeholder="" class="name-field" id="user_name" v-model="userInfo.name" required>
                </label>
              </li>
              <li class="popup-item half-section">
                <label class="popup-field">
                  <span class="title-field mail-field-cast">Email</span>
                  <input type="email" name="email" placeholder="example@mail.com" class="enter-field" id="user_email" v-model="userInfo.email" required>
                </label>
              </li>
              <li class="popup-item">
                <label class="popup-field">
                  <span class="title-field orange-field">Заполните поле</span>
                  <textarea rows="10" name="text" class="enter-field-area" placeholder="Комментарии" id="user_text" v-model="userInfo.text" required>
                  </textarea>
                </label>
              </li>
            </ul>
            <div class="button-wrap">
              <button type="submit" class="enter-profile-button">Подписаться</button>
            </div>
            <div class="alert__success">Заявка отправлена</div>
            <div class="alert__error">Ошибка отправки</div>
            <div class="popup-thanks"> <img src="images/done.svg" alt="done-icon" width="40" height="40" class="done-icon">
              <p class="popup-thanks__text">{{'Уважаемый ' + userInfo.name + ', спасибо за подписку!'}}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="low-info">
      <div class="low-info__inside">
        <div class="inside__low-wrap first-wrap">
          <h2 class="inside__title">LOGOTYPE</h2>
          <p class="inside__adress">г. Москва, метро Бауманская,<br>ул. Бауманская, дом 44</p>
          <a href="tel:+70000000000" class="inside__tel"><b>+7 000 000 00 00</b></a>
        </div>
        <div class="added-main-wrap">
          <div class="inside__low-wrap wide-low">
            <a class="inside__link-item" href="#">О компании</a>
            <a class="inside__link-item" href="#">Партнёрская программа</a>
            <a class="inside__link-item" href="#">Реклама</a>
            <a class="inside__link-item" href="#">Пресс-центр</a>
            <a class="inside__link-item" href="#">Вакансии</a>
            <a class="inside__link-item" href="#">Помощь</a>
            <a class="inside__link-item" href="#">Правила</a>
          </div>
          <div class="inside__low-wrap added-wrap">
            <div class="inside__links">
              <h2 class="links__title">Мы в соцсетях</h2>
              <div class="links__social">
                <a href="#" class="social links--fb">
                  <img src="images/facebook-letter-logo.svg" alt="fb-icon" width="25" height="25">
                </a>
                <a href="#" class="social links--od">
                  <img src="images/odnoklassniki.svg" alt="odn-icon" width="25" height="25">
                </a>
                <a href="#" class="social links--inst">
                  <img src="images/instagram-logo.svg" alt="inst-icon" width="25" height="25">
                </a>
              </div>
            </div>
            <div class="inside__subscribe">
              <h2 class="subscribe__title">Подписка на новости</h2>
              <form action="#" method="post" name="footer-form" class="footer-form" id="footerform">
                <ul class="footer-form__list">
                  <li class="list__item">
                    <label class="item__field">
                      <input type="text" name="email" placeholder="example@mail.com" class="field__place" required>
                    </label>
                  </li>
                </ul>
                <div class="footer-form__button">
                  <button type="submit" class="button__subscribe">Ok</button>
                </div>
                <div class="alert__success-footer">Заявка отправлена</div>
                <div class="alert__error-footer">Ошибка отправки</div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="low-info__lowest">
        <div class="lowest__inside">
          <a href="#" class="inside__lowest-link globus-link">© ООО «Глобус», 2016 — 2019</a>
          <a href="#" class="inside__lowest-link">Политика конфиденциальности</a>
          <a href="#" class="inside__lowest-link">Cookies</a>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script src="js/slider.js"></script>
  <script src="js/showimages.js"></script>
  <script src="js/form.js"></script>
  <script src="js/mobilemenu.js"></script>
  <script src="js/validation.js"></script>
</body>

</html>
